@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,300,700");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
.sidebar {
  background-color: rgb(3, 10, 25);
  font-family: "Fira sans", sans-serif;
  height: 100vh;
  transition: transform 0.3s ease-in;
}
.sidebar nav {
  padding: 45px;
}
.sidebar nav li {
  list-style: none;
  font-size: 30px;
  padding: 33px 0;
}
.sidebar nav li a {
  text-decoration: none;
  color: white;
}
.main {
  background-color: rgb(3, 15, 30);
  /* background-color: white; */
  width: 100vw;
  height: 100vh;
}
.container {
  display: flex;
}
.infoContainer {
  height: 50vh;
  width: 80vw;
  margin: 144px auto;
  display: flex;
  justify-content: space-around;
}
.devInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.hello {
  font-size: 35px;
}
.name {
  font-size: 50px;
  font-weight: bold;
  font-family: 'EB Garamond', serif;
  color: crimson;
}
.about {
  font-size: 40px;
}
.more {
  font-size: 22px;
  margin-top: 23px;
  font-family: "Fira sans", sans-serif;
}
.btn {
  margin-top: 25px;
}
.btn-sm {
  padding: 3px 5px;
  border-radius: 15px;
  color: white;
  background-color: rgb(12, 59, 50);
  font-weight: bold;
  margin: 0 2px;
  cursor: pointer;
}
.btn button {
  padding: 6px 10px;
  border-radius: 22px;
  color: white;
  background-color: rgb(12, 59, 50);
  font-weight: bold;
  font-size: 18px;
  margin: 0 3px;
  cursor: pointer;
}
.btn button:hover {
  background-color: white;
  color: rgb(12, 59, 50);
}
.devPic img {
  height: 58vh;
}
.contactForm {
  padding: 0 34px;
  /* padding-top: 144px; */
  font-family: "Fira sans", sans-serif;
  margin: 0 88px;
}
.contactForm h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 25px;
}
.contactForm form div {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
.contactForm label{
  font-weight: bolder;
}
.contactForm form div input {
  /* width: 20vw; */
  border-radius: 5px;
  margin: 6px 0 0 0;
  padding: 3px;
}
.contactForm form div textarea{
  border-radius: 5px;
  margin: 6px 0 0 0;
  padding: 3px;
}
#form-check {
  flex-direction: row;
}
#form-check input {
  width: 24px;
  margin: 3px 0;
}
h1 {
  margin: 23px;
  font-family: "Fira sans", sans-serif;
  color: crimson;
}
.blogItem {
  margin: 20px;
  font-family: "Fira sans", sans-serif;
}
.blog{
  margin: 40px 88px;
}
p {
  margin: 20px;
  font-family: "Roboto", sans-serif;
}
.intro{
  margin: 45px 90px;
}
.intro h2 {
  font-family: "Fira sans", sans-serif;
  margin: 12px;
}
.intro p {
  font-family: "Roboto", sans-serif;
  margin: 12px;
}
/* Services */
.services-section{
  /* background: url(bg.jpg); */
  background-color: rgb(3, 15, 30);
  background-size: cover;
  padding: 60px 0;
}
.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}
.section-title{
  text-align: center;
  color: crimson;
  text-transform: uppercase;
  font-size: 30px;
}
.border{
  width: 160px;
  height: 2px;
  background: #82ccdd;
  margin: 40px auto;
}
.services-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-box{
  max-width: 33.33%;
  padding: 10px;
  text-align: center;
  color: #ddd;
  cursor: pointer;
}

.service-icon{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #82ccdd;
  color: #82ccdd;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}
.service-icon i{
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}
.service-box:hover .service-icon{
  background: #82ccdd;
  color: #ddd;
}


.service-title{
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.service-desc{
  font-size: 14px;
}
/* .skills{
    width: 23px;
    height: 23px;
} */
.skillItem {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  align-items: center;
  margin-top: 10px;
}
.skill {
  width: 200px;
  height: 6px;
  background-color: grey;
  border: 2px solid red;
}
.hunderd {
  width: 200px;
  background-color: brown;
}
.s5 {
  width: 175px;
  background-color: blue;
}
.fifty {
  width: 120px;
  background-color: yellow;
}
.t5 {
  width: 75px;
  background-color: black;
}
.t10 {
  width: 30px;
  background-color: cornflowerblue;
}

.sidebarGo {
  transform: translate(-443px, 0px);
  position: absolute;
}
.hamberger {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 10px;
}
.cross {
  margin-left: 150px;
}
.cross img{
  size: 2px;
}
.media{
  display: none;
  /* float: right; */
}


/* footer */
.footer-distributed {
  background-color: rgb(3, 10, 25);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 10px 30px;
}

.footer-distributed .footer-left p {
  color: crimson;
  font-size: 14px;
  margin: 0;
}
.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 8px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
}

@media screen and (max-width: 700px) {
  /* *{
        background-color: red;
    } */
  
  .sidebar {
    position: absolute;
  }
 
}
@media screen and (max-width:960px) {
  .service-box{
    max-width: 45%;
  }
}

@media screen and (max-width:768px) {
  .service-box{
    max-width: 50%;
  }
}

@media screen and (max-width:480px) {
  .service-box{
    max-width: 100%;
  }
  .devPic img {
    display: none;
  }
  .service-icon {
    display: grid;
    float: center;
    margin-left: 185px;
  }
  .media{
    /* display: inline-block; */
    display: inline-block;
    width: 20vh;
    margin-left: 30px;

  }
  .intro, .blog, .contactForm{
    margin: 30px;
  }

/* skills */
.hunderd {
  width: 200px;
  background-color: brown;
}
.s5 {
  width: 175px;
  background-color: blue;
}
.fifty {
  width: 125px;
  background-color: yellow;
}
.t5 {
  width: 70px;
  background-color: black;
}
.t10 {
  width: 60px;
  background-color: cornflowerblue;
}

.myblog{
  height: 180vh;
  background-color: rgb(3, 15, 35);
}
.blog{
  margin-top: 60px;
}
}

